.row
  .col-xs-2
    = document.id
  .col-xs-2
    = document.category
  .col-xs-2
    = document.owner
  .col-xs-2
    = document.created_at
  .col-xs-2
    = document.updated_at
= render document.versions
